/* home-contact.component.scss */
.spinner-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.booking-form-section {
  padding: 0rem 1rem;
  color: white;
  text-align: center;

  .section-title {
    font-size: 2rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #787878;
    span {
      color: #000000;
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
  }

  .form-group {
    width: 100%;

    ::ng-deep .mat-form-field-flex {
      background-color: rgba(255, 255, 255, 0.05);
    }

    ::ng-deep .mat-form-field-underline {
      background-color: #BE9045;
    }

    ::ng-deep .mat-form-field-label {
      color: #787878;
    }

    ::ng-deep .mat-select-value, ::ng-deep input, ::ng-deep textarea {
      color: #787878;
    }
  }

  .full-width {
    grid-column: 1 / -1;
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    mat-checkbox {
      label{
        color: white!important;
      }
      color: white!important;
      font-weight: 500;
    }

    button {
      background-color: #000000;
      color: whitesmoke;
      font-weight: bold;
      padding: 0.7rem 2rem;
      border-radius: 4px;
    }
  }
}
