
.section-divider {
  line-height: 0;
  overflow: hidden;
  background: #000; /* Colore della sezione sopra */
}

.section-divider svg {
  display: block;
  width: 100%;
  height: 60px;
}
.angled-divider {
  height: 60px;
  overflow: hidden;
  background: #000; /* Colore sezione sopra */
}

.angled-divider svg {
  display: block;
  width: 100%;
  height: 100%;
}
.home-container {
  // background-image: url('../../../../../../../public/bg/texture-2.png');
  background-repeat: repeat;
  background-size: 300px; /* o auto per default, puoi testare */
  background-blend-mode: multiply; /* migliora la fusione con nero */
  overflow-x: hidden;
  max-width: 1280px;
  margin: auto;

}
section{
  padding: 3.5rem 0px;
}
