<div class="home-container">
  <section>
    <app-home-hero></app-home-hero>
  </section>
  <section>
    <app-home-contact></app-home-contact>
  </section>
  <section>
    <app-home-services></app-home-services>
  </section>
  <section>
    <app-home-projects></app-home-projects>
  </section>
  <section>
    <app-home-featured-artists></app-home-featured-artists>
  </section>
  <section>
    <app-showcase></app-showcase>
  </section>
  <section>
    <app-home-about></app-home-about>
  </section>
  <section>
    <app-home-faq></app-home-faq>
  </section>
</div>
