.container-dialog {
  padding: 1rem;
  color: var(--app-main-text, #f3f4f7);

  .dialog-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--app-main-text, #f3f4f7);
    margin-bottom: 1rem;
  }

  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

  }

  .form-field {
    width: 100%;
    max-width: 200px;
  }

  .toggle-show {
    margin-top: 1rem;
    font-weight: 500;
    color: var(--app-main-text-muted, #c8ced8);
  }

  .dialog-actions {
    margin-top: 1rem;
    padding-right: 1rem;

    button {
      margin-left: 0.5rem;
    }
  }
}
