:host {
  display: block;
  padding: 2rem;
  background-color: #121212;
  color: #FAFAFA;
}

section {
  min-height: 90vh;
  border-radius: 0px;
  padding: 8vh 2rem;
  background-color: #1E1E28;
  color: #FAFAFA;

  h2 {
    color: #BE9045;
    margin-bottom: 1rem;
  }
}

mat-card {
  background-color: #1E1E28;
  color: #FAFAFA;
  padding: 1.5rem;

  h2 {
    color: #BE9045;
    margin-bottom: 1rem;
  }
}

/* FILTRI */
.filters {
  margin-bottom: 1.5rem;

  .filter-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  mat-form-field {
    width: 220px;
    min-width: 180px;
  }
}

/* TABELLA */
.table-wrapper {
  width: 100%;
  overflow-x: auto;

  table {
    min-width: 768px;
    border-collapse: collapse;
    margin: auto;

  }
}

.full-table {

  th,
  td {
    padding: 1rem;
    white-space: nowrap;
    border-bottom: 1px solid #2F2F3D;
  }

  th {
    color: #BE9045;
    font-weight: 600;
  }

  td {
    color: black;
  }

  mat-icon {
    font-size: 20px;
  }
}

/* BADGE STATO */
.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  display: inline-block;
  color: #fff;
}

.badge-pending {
  background-color: #BE9045; // ambra scuro
}

.badge-done {
  background-color: #66BB6A; // verde menta
}

/* Responsive */
@media (max-width: 768px) {
  .filter-fields {
    flex-direction: column;
    gap: 1rem;
  }

  mat-form-field {
    width: 100%;
  }

  .full-table {
    font-size: 14px;
  }
}
