
# --- API ---
apps/api/node_modules/
apps/api/.env
apps/api/.env.*
!apps/api/.env.example

# logs/build
apps/api/dist/
apps/api/*.log

# --- Firebase Functions ---
functions/node_modules/
functions/.env

# frontend runtime config
public/app-config.js
