.full-width {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 12px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vh;
  max-width: 100%;

  mat-form-field {
    min-width: 250px;
    max-width: 250px;
  }
}
