<div class="container-dialog">
  <h2 mat-dialog-title>{{ isEditMode ? 'Modifica Servizio' : 'Nuovo Servizio' }}</h2>
  <mat-dialog-content class="form">
    <app-dynamic-form
      [fields]="fields"
      [formGroupInput]="form"
      [showSubmit]="false"
    ></app-dynamic-form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Annulla</button>
    <button mat-flat-button color="primary" (click)="save()" [disabled]="form.invalid">
      {{ isEditMode ? 'Salva Modifiche' : 'Crea Servizio' }}
    </button>
  </mat-dialog-actions>
</div>
