.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;

  mat-form-field {
    width: 100%;
  }

  mat-button-toggle-group {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }

  mat-button-toggle {
    flex: 1 1 auto;
    text-align: center;
  }
}
