
.admin-dashboard {
  background-color: #121212;
  color: #FAFAFA;
  padding: 8vh 2rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 90vh;
  h1 {
    color: #BE9045;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .wide-card,.stat-card{
    background-color: black;
    color: #FAFAFA;

  }
  .mat-card {
    background-color: #1E1E28;
    color: #FAFAFA;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    border-left: 4px solid #00BFA5;
  }

  .mat-card-title {
    color: #BE9045;
      font-family: 'Barlow Semi Condensed', sans-serif;

  }

  .stat-card mat-icon {
    color: #BE9045;
  }

  mat-list-item {
    border-bottom: 1px solid #2F2F3D;
    color: whitesmoke;
  }
}
.quick-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;

  .link-card {
    background-color: #1e1e28;
    color: #fafafa;

    mat-card-title {
      font-weight: 600;
    }

    mat-icon {
      color: #BE9045;
    }

    button {
      margin-top: 1rem;
    }
  }
}

.section-title {
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: #BE9045;
}
