<section class="documents-section">
  <h2 class="section-title">{{'Documenti Scaricabili'.toUpperCase()}}</h2>

  <div class="documents-grid">
    <mat-card class="doc-card" *ngFor="let doc of documents">
      <mat-card-header>
        <mat-icon>description</mat-icon>
        <mat-card-title>{{ doc.title }}</mat-card-title>
        <mat-card-subtitle>{{ doc.description }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <a [href]="doc.fileUrl" target="_blank" download>
          <button mat-flat-button color="primary">Scarica</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</section>

