<section class="about-section">
  <div class="about-wrapper">
    <div class="about-image">
      <img src="/ink/woman-1.webp" alt="Tattoo in corso" />
    </div>
    <div class="about-text">
      <h2 class="title">
        {{ lang.t('home.about.title') }}
      </h2>
      <p>
        {{ lang.t('home.about.paragraph1') }}
      </p>
      <p class="cta">
        {{ lang.t('home.about.paragraph2') }}
      </p>
      <a routerLink="/chi-siamo" class="read-more">
        {{ lang.t('home.about.cta') }}
        <span class="arrow">↗</span>
      </a>
    </div>
  </div>
</section>
