<div class="calendar-day-layout">
  <!-- Colonna orari -->
  <div class="time-column">
    <div class="time-cell" *ngFor="let hour of dayData.hours">
      {{ hour }}
    </div>
  </div>

  <!-- Griglia staff -->
  <div class="staff-grid">
    <!-- Header staff -->
    <div class="staff-header">
      <div class="staff-cell" *ngFor="let artist of dayData.artists">
        <div class="avatar">
          <img [src]="artist.avatar" [alt]="artist.name" />
        </div>
        <span class="artist-name">{{ artist.name }}</span>
      </div>
    </div>

    <!-- Corpo griglia -->
    <div class="staff-rows" *ngFor="let hour of dayData.hours">
      <div
        class="staff-cell"
        *ngFor="let artist of dayData.artists"
        [ngClass]="{
          'booked': cellMap[hour][artist.id]?.event,
          'free': !cellMap[hour][artist.id]?.event
        }"
        cdkDropList
        [cdkDropListData]="[]"
        [cdkDropListConnectedTo]="dropListIds"
        [id]="getDropListId(hour, artist.id)"
        (cdkDropListDropped)="onDrop($event, hour, artist.id)"
      >

        <!-- SLOT OCCUPATO: solo primo slot -->
        <ng-container *ngIf="cellMap[hour][artist.id]?.event && cellMap[hour][artist.id]?.rendered; else freeSlot">
<div
  class="slot-box"
  [matTooltip]="cellMap[hour][artist.id].label"
  [ngClass]="{ 'session-start': isStartOfSession(cellMap[hour][artist.id].event, hour) }"
  cdkDrag
  [cdkDragData]="cellMap[hour][artist.id].event"
  (cdkDragStarted)="openContext(cellMap[hour][artist.id].event!)"
  (click)="$event.stopPropagation(); openContext(cellMap[hour][artist.id].event!)"
  [matMenuTriggerFor]="eventMenu"
>
  <mat-icon *ngIf="isStartOfSession(cellMap[hour][artist.id].event, hour)" color="primary">person</mat-icon>
  <mat-icon color="primary">drag_indicator</mat-icon>

  <!-- 🟡 Resize handle -->
  <div
    class="resize-handle"
    (mousedown)="startResize($event, cellMap[hour][artist.id].event!)"
  ></div>
</div>

        </ng-container>

        <!-- SLOT LIBERO -->
        <ng-template #freeSlot>
          <div class="slot-box" (click)="handleCellClick(hour, artist.id)">
            <mat-icon color="primary">add</mat-icon>
          </div>
        </ng-template>
      </div>
    </div>

    <!-- MENU CONTESTUALE -->
    <mat-menu #eventMenu="matMenu">
      <button mat-menu-item (click)="emitAction('view')">
        <mat-icon>info</mat-icon>
        <span>Dettagli</span>
      </button>
      <button mat-menu-item (click)="emitAction('edit')">
        <mat-icon>edit</mat-icon>
        <span>Modifica</span>
      </button>
      <button mat-menu-item (click)="emitAction('complete')">
        <mat-icon>check_circle</mat-icon>
        <span>Completa</span>
      </button>
      <button mat-menu-item (click)="emitAction('cancel')">
        <mat-icon>cancel</mat-icon>
        <span>Annulla</span>
      </button>
    </mat-menu>
  </div>
</div>
<mat-menu #eventMenu="matMenu">
  <button mat-menu-item (click)="emitAction('view')">
    <mat-icon>visibility</mat-icon>
    <span>Visualizza</span>
  </button>
  <button mat-menu-item (click)="emitAction('edit')">
    <mat-icon>edit</mat-icon>
    <span>Modifica</span>
  </button>
  <button mat-menu-item (click)="emitAction('complete')">
    <mat-icon>check_circle</mat-icon>
    <span>Completa</span>
  </button>
  <button mat-menu-item (click)="emitAction('cancel')">
    <mat-icon>cancel</mat-icon>
    <span>Annulla</span>
  </button>
</mat-menu>
