.booking-dialog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  form{
    display: flex;
    min-width: 100%;
  }
  .dialog-title {
    font-size: 1.4rem;
    color: #be9045; // oro
    margin-bottom: 1rem;
  }

  .progress-bar {
    margin-bottom: 1.2rem;
    height: 6px;
    border-radius: 3px;
  }

  .step {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .payment-section {
    text-align: center;

    .payment-note {
      font-weight: bold;
      margin-bottom: 1rem;
      color: #333;
    }

    mat-icon {
      margin-left: 8px;
      color: #4caf50; // verde conferma
    }

    mat-spinner {
      margin-left: 10px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 0.4rem 0;
    }
  }

  mat-form-field {
    width: min-content;
  }

  .step-controls {
    display: flex;
    gap: 0.75rem;
    &>mat-form-fiel{
      max-width: 200px;
    }
  }
}
::ng-deep .mat-calendar-body-cell[aria-disabled='true'] {
  color: #f44336 !important; // rosso vivo
  position: relative;
}

::ng-deep .mat-calendar-body-cell[aria-disabled='true']::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 4px;
  right: 4px;
  height: 2px;
  background-color: #f44336;
}
