.hero-pensavo {
  color: #000;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding-top: 8vh;
  .hero-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0rem 3vw 1rem;

    .hero-logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: bold;
      font-size: 1.2rem;

      img {
        height: 16vh;
      }
    }

    .hero-quote {
      text-align: left;

      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 1.1;
        margin: 0;
      }

      .quote-subtext {
        font-size: 0.95rem;
        color: #444;
        margin-top: 0.3rem;
        text-align: center;
      }
    }
  }



  .hero-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 3vw;

    .hero-description {
      font-size: 2rem;
      max-width: 600px;
      width: 100%;
      font-weight: 500;
    }

    .hero-cta {
      text-align: right;
      font-size: 0.9rem;
      text-decoration: underline;
      font-weight: 500;
      color: #000;
      transition: 0.2s ease;

      &:hover {
        color: #555;
      }

      strong {
        display: block;
        margin-top: 0.2rem;
      }
    }
  }

  @media (max-width: 768px) {
    .hero-header {
      flex-direction: column;
      align-items: flex-start;

      .hero-quote {
        text-align: left;
        margin-top: 1rem;

        h1 {
          font-size: 2.2rem;
        }
      }
    }

    .hero-footer {
      flex-direction: column;

      .hero-description,
      .hero-cta {
        max-width: 100%;
        text-align: left;
      }
    }
  }
}
.hero-image-slider {
  position: relative;
  overflow: hidden;
    width: 100%;
    height: 40vh;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    animation: bgSlideshow 14s infinite;
  }
}
.hero-image-slider::before {
  transition: opacity 1s ease-in-out;
}

@keyframes bgSlideshow {
  0% {
    background-image: url('/home/slide-1-1920x879.jpg');
    opacity: 1;
  }
  33.33% {
    background-image: url('/home/slide-2-1920x879.jpg');
    opacity: 1;
  }
  66.66% {
    background-image: url('/home/slide-3-1920x879.jpg');
    opacity: 1;
  }
  100% {
    background-image: url('/home/slide-1-1920x879.jpg');
    opacity: 1;
  }
}
