
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$gestionale-tattuaggi-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($gestionale-tattuaggi-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($gestionale-tattuaggi-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($gestionale-tattuaggi-theme);
/* You can add global styles to this file, and also import other style files */

html, body {*{font-family: "Inter", sans-serif;} }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  margin: 0px;padding: 0px;box-sizing: border-box;font-family: "Inter", sans-serif;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mat-mdc-snack-bar-container.app-snackbar-success .mdc-snackbar__surface {
  background: #1f6f43 !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.app-snackbar-error .mdc-snackbar__surface {
  background: #9d1c1c !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.app-snackbar-info .mdc-snackbar__surface {
  background: #154a8a !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.app-snackbar-warn .mdc-snackbar__surface {
  background: #8a5b10 !important;
  color: #ffffff !important;
}

.mat-mdc-snack-bar-container.app-snackbar .mdc-button__label {
  color: #ffffff !important;
  font-weight: 600;
}
