<section class="showcase-container">
  <div class="showcase-content">
    <div class="showcase-text">
      <h2>{{ lang.t('home.showcase.title') }}</h2>
      <h3 [innerHTML]="lang.t('home.showcase.subtitle')"></h3>
      <p>{{ lang.t('home.showcase.description') }}</p>
      <a class="showcase-link" routerLink="/progetti">{{ lang.t('home.showcase.cta') }}</a>
    </div>
    <div class="showcase-image">
      <img src="/home/home-1-5-549x422.jpg" alt="galleria tatuaggi" />
    </div>
  </div>
</section>
